.appWrapper {
    background-color: cadetblue;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    width: 100%;

}
.content {
    grid-area: c;
    min-height: 100vh;
    background-color: lightblue;
    margin: 5px 5px 5px 5px;
    padding: 10px;
}




